.cardBody {
  display: flex;
  max-width: 70%;
  border: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.cardLeft {
  width: 18rem;

  /* height: 18rem; */
}
.cardLeft img {
  border-radius: 5px 0 0 5px;
}
.cardRight {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 2rem;
  position: relative;
}
.heading {
  font-size: 1.5rem;
  color: #666;
  font-weight: 400;
}

.icons {
  display: flex;
  gap: 0.7rem;
  margin: 1rem 0;
}
.iconWrapper {
  border-radius: 4rem;
  padding: 0.3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 2px 1px;
}
.iconWrapper img {
  width: 1rem;
}

.horizontalDivider {
  border-top: 1px solid #e6e6e6;
}

.aboutUs {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem 0;
  margin-right: 1rem;
}

.logoWrapper {
  width: 7rem;
}
.listContainer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.list {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.list p {
  font-size: 1rem;
  color: #666;
}

.rightTick {
  width: 1rem;
}

.cardFooter {
  margin-top: 1rem;
  display: flex;
}
.button {
  width: 7rem;
  padding: 0.7rem;
  border: none;
  outline: none;
  color: #fff;
  background-color: #3ea055;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.button:nth-child(1) {
  background-color: #ff8c00;
  border-radius: 3rem 0 0 3rem;
}

.button:nth-child(3) {
  border-radius: 0 3rem 3rem 0;
  background-color: #4d4d4d;
}

.button img {
  width: 1.4rem;
}

.verticalDivider {
  height: 85%;
  width: 1px;
  background-color: #e6e6e6;
}

.aboutWays {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.aboutWays .title {
  padding-right: 3rem;
  font-size: 1.5rem;
  color: #666;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

/* Media query for screens 1200px and smaller */
@media screen and (max-width: 1200px) {
  .cardBody {
    max-width: 80%;
  }
}
/* Media query for screens 900px and smaller */
@media screen and (max-width: 1024px) {
  .cardBody {
    max-width: 90%;
  }
}

/* Media query for screens 600px and smaller */
@media screen and (max-width: 600px) {
  .cardBody {
    width: 80%;
    max-width: 100%;
    margin: 1rem;
    flex-direction: column;
    border-radius: 10px;
  }
  .cardLeft {
    width: 100%;

    /* height: 18rem; */
  }
  .cardLeft img {
    border-radius: 10px 10px 0 0px;
  }
  .cardRight {
    display: block;
  }
  .aboutUs {
    flex-direction: column;
  }
  .logoWrapper {
    width: 6rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .aboutWays.display_none {
    flex-direction: row;
    display: flex !important;
    justify-content: space-around;
    margin-top: 1.5rem;
  }
  .cardFooter {
    width: 119%;
    margin: 0 -2rem -1.3rem -2rem;
  }
  .button {
    width: 33.33%;
  }
  .button:nth-child(1) {
    border-radius: 0rem 0 0 10px;
  }

  .button:nth-child(3) {
    border-radius: 0rem 0 10px 0px;
  }
}
